/* import fonts : Josefin Sans */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
/* import fonts : Alata */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

/* style variables */
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --dark-gray-color: #8c8c8c;
  --very-dark-gray-color: #696969;
  --font-alata: "Alata", sans-serif;
  --font-josefin-sans: "Josefin Sans", sans-serif;
  --font-size: 15px;
}

/* Reset style */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--white-color);
  font-size: var(--font-size);
}

section:not(.hero) {
  padding: 7em 2rem 3rem;
}

/* header */

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

header .icon-close,
header .icon-open {
  cursor: pointer;
}
header .icon-open {
  position: absolute;
  right: 2rem;
}
header img {
  object-fit: contain;
}

header img.logo {
  width: 150px;
}

.nav {
  position: fixed;
  right: -66%;
  top: 0;
  background-color: var(--black-color);
  height: 100vh;
  width: 66%;
  transition: right 0.5s;
}

.nav.open {
  right: 0;
}

.nav .icon-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.nav .logo {
  position: absolute;
  left: 1.4rem;
  top: 2rem;
}

.nav-list {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: 1.4rem;
}

.nav-list li {
  margin-bottom: 30px;
}

.nav-list li a {
  font-family: var(--font-josefin-sans);
  text-transform: uppercase;
  color: var(--white-color);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}

.nav-list a::before {
  content: "";
  width: 35px;
  height: 3px;
  background-color: transparent;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.9s;
}

.nav-list a:hover::before {
  background: var(--white-color);
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 888;
  background: url(../images/mobile/image-hero.jpg) no-repeat top/cover;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero .hero-heading {
  border: 2px solid var(--white-color);
  width: 90%;
  padding: 2rem;
  margin: auto;
}

.hero .hero-heading-text {
  font-size: 3.7rem;
  color: var(--white-color);
  font-family: var(--font-josefin-sans);
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1;
}

/* Interactive section */
#interactive {
  display: flex;
  flex-direction: column;
}

#interactive .col-1,
#interactive .col-2 {
  flex: 1;
}

#interactive .col-1 .interactive-image {
  width: 100%;
}

.heading-dark {
  color: var(--black-color);
}

#interactive .col-2 {
  text-align: center;
  margin-top: 60px;
}

.heading-text {
  font-size: 3rem;
  color: var(--black-color);
  font-family: var(--font-josefin-sans);
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 30px;
}

#interactive .col-2 .interactive-description {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--dark-gray-color);
  font-family: var(--font-alata);
  font-weight: lighter;
}

/* Our Creations */
#our-creations {
  position: relative;
}

#our-creations .our-creations-heading {
  text-align: center;
}

.creations {
  display: flex;
  flex-direction: column;
}

.creations .creation {
  width: 100%;
  height: 160px;
  margin-bottom: 30px;
  padding: 1.7rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 2rem;
  color: var(--white-color);
  font-family: var(--font-josefin-sans);
  font-weight: 100;
  position: relative;
  cursor: pointer;
}
.creations .creation p {
  z-index: 3;
}

.creations .creation::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 216, 204, 0.566);
  opacity: 0;
  transition: opacity 0.5s;
}

.creations .creation:hover::after {
  opacity: 1;
}
.creations .creation:hover p {
  color: var(--black-color);
}

.creations .creation:nth-child(1) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-deep-earth.jpg) no-repeat center/cover;
}

.creations .creation:nth-child(2) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-night-arcade.jpg) no-repeat center/cover;
}

.creations .creation:nth-child(3) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-soccer-team.jpg) no-repeat center/cover;
}

.creations .creation:nth-child(4) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-grid.jpg) no-repeat center/cover;
}

.creations .creation:nth-child(5) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-from-above.jpg) no-repeat center/cover;
}

.creations .creation:nth-child(6) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-pocket-borealis.jpg) no-repeat center/cover;
}

.creations .creation:nth-child(7) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-curiosity.jpg) no-repeat center/cover;
}

.creations .creation:nth-child(8) {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.55) 1%,
      rgba(0, 0, 0, 0.54) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/mobile/image-fisheye.jpg) no-repeat center/cover;
}

.sell-all-creations {
  text-align: center;
}

.sell-all-creations .see-all-btn {
  text-align: center;
  background-color: var(--white-color);
  width: unset;
  display: inline-block;
  text-decoration: none;
  color: var(--black-color);
  padding: 0.8rem 4rem;
  font-size: 1rem;
  font-family: var(--font-alata);
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid var(--black-color);
  letter-spacing: 4px;
  word-spacing: 5px;
  transition: all 0.5s;
}
.sell-all-creations .see-all-btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* footer */
#main-footer {
  background-color: var(--black-color);
  color: var(--white-color);
}

#main-footer .footer-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container .col-1,
.footer-container .col-2 {
  flex: 1;
}
.footer-container .col-1 .logo {
  margin-bottom: 70px;
}
.footer-container .col-1 .menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.footer-container .col-1 .menu li {
  margin-bottom: 20px;
}

.footer-container .col-1 .menu a {
  color: var(--white-color);
  font-family: var(--font-alata);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.footer-container .col-1 .menu a::before {
  content: "";
  width: 30px;
  height: 3px;
  background-color: transparent;
  position: relative;
  top: 37px;
  transition: all 0.9s;
}
.footer-container .col-1 .menu a:hover::before {
  background-color: var(--white-color);
}

.footer-container .col-2 .social-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.footer-container .col-2 .social-icons img {
  margin-right: 15px;
}
.footer-container .col-2 .social-icons li {
  position: relative;
  cursor: pointer;
}

.footer-container .col-2 .social-icons li::before {
  content: "";
  width: 24px;
  height: 3px;
  background-color: transparent;
  position: absolute;
  bottom: -7px;
  left: 0px;
  transition: background-color 0.5s;
}

.footer-container .col-2 .social-icons li:hover::before {
  background-color: var(--white-color);
}

.footer-container .col-2 #copy {
  color: var(--dark-gray-color);
  font-family: var(--font-alata);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: lighter;
}

/* media queries */
@media screen and (max-width: 475px) {
  .hero {
    height: 80vh;
  }

  .hero .hero-heading {
    padding: 1rem;
  }
  .hero .hero-heading-text {
    font-size: 2rem;
    line-height: 1.2;
  }

  .nav {
    right: -100%;
    width: 100%;
  }

  .heading-text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .icon-open {
    display: none;
  }

  header {
    position: absolute;
    top: 20px;
    left: -25px;
    justify-content: space-between;
  }

  .nav {
    right: 0;
    width: initial;
    height: initial;
    background: transparent;
    position: absolute;
    top: 0;
  }

  .nav-list {
    flex-direction: row;
    margin-left: 0;
    margin-top: 0;
  }
  .nav-list li {
    margin-right: 25px;
  }

  .nav-list li a {
    font-size: 1.2rem;
    font-family: var(--font-alata);
    text-transform: capitalize;
    font-weight: 100;
  }

  .nav .logo,
  .nav .icon-close {
    display: none;
  }

  /* Hero */

  .hero {
    background: url(../images/desktop/image-hero.jpg) no-repeat top / cover;
  }

  .hero .hero-heading {
    width: 70%;
    padding: 2rem;
    margin: 0;
  }

  /* Interactive */
  #interactive {
    padding: 5rem 0;
  }

  #interactive {
    flex-direction: row;
    justify-content: center;
  }

  #interactive .col-2,
  #interactive .col-1 {
    flex: unset;
  }

  #interactive .col-2 {
    background-color: var(--white-color);
    width: 80%;
    text-align: left;
    padding: 5rem 3rem 5rem 5rem;
    margin: 0;
    position: relative;
    left: -70px;
    top: 130px;
  }

  #interactive .col-1 .interactive-image {
    width: 140%;
  }

  #interactive .col-2 .heading-text {
    font-size: 3rem;
  }

  #interactive .col-2 .interactive-description {
    font-size: 1.2rem;
  }

  /* Our creations */
  #our-creations {
    padding: 7rem 0;
  }

  .creations {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .creations .creation {
    width: 23%;
    height: 400px;
  }

  .creations .creation:nth-child(1) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-deep-earth.jpg) no-repeat center/cover;
  }

  .creations .creation:nth-child(2) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-night-arcade.jpg) no-repeat center/cover;
  }

  .creations .creation:nth-child(3) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-soccer-team.jpg) no-repeat center/cover;
  }

  .creations .creation:nth-child(4) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-grid.jpg) no-repeat center/cover;
  }

  .creations .creation:nth-child(5) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-from-above.jpg) no-repeat center/cover;
  }

  .creations .creation:nth-child(6) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-pocket-borealis.jpg) no-repeat center/cover;
  }

  .creations .creation:nth-child(7) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-curiosity.jpg) no-repeat center/cover;
  }

  .creations .creation:nth-child(8) {
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.55) 1%,
        rgba(0, 0, 0, 0.54) 1%,
        rgba(0, 0, 0, 0) 100%
      ),
      url(../images/desktop/image-fisheye.jpg) no-repeat center/cover;
  }

  #our-creations .heading-text {
    text-align: left;
  }

  .sell-all-creations {
    position: absolute;
    top: 0;
    right: 0;
  }

  /* footer */

  #main-footer .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
  }

  .footer-container .col-1 {
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .footer-container .col-1 img.logo {
    width: 150px;
  }

  .footer-container .col-1 .menu {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-container .col-1 .menu li {
    margin-right: 23px;
    margin-bottom: 0;
  }

  .footer-container .col-1 .menu li a {
    font-weight: lighter;
    font-size: 1rem;
  }

  .footer-container .col-1 .logo {
    margin-bottom: 40px;
  }
  .social-icons {
    margin: 0;
  }
  .social-icons li:last-child {
    margin-right: 0;
  }

  .footer-container .col-2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
  }

  .footer-container .col-2 #copy {
    font-size: 1rem;
    margin: 0;
  }

  .footer-container .col-2 .social-icons {
    margin: 0 0 40px 0;
    justify-content: flex-end;
  }
}
